/* Contenedor del Formulario e Imagen */
.formulario-imagen {
  display: flex;
  flex: 1;
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
  min-height: calc(25vh - 50px); /* Asegura espacio igual entre header y footer */
  gap: 20px;
}

/* Formulario - 40% del ancho */
.formulario {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  gap: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Agrega sombra para resaltar */
  border-radius: 10px; /* Bordes redondeados */
}

.formulario h2 {
  margin-bottom: 10px;
  font-size: 24px;
  text-align: center;
}

.formulario input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.btn-iniciar {
  background-color: #ff8800;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn-iniciar:hover {
  background-color: #e06f00;
}

.olvidaste-contrasena {
  text-align: center;
  color: #008cba;
  text-decoration: none;
}

/* Imagen Lateral - Tamaño fijo */
.imagen-lateral {
  width: 640px;
  height: 426px;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #666;
  overflow: hidden; /* Oculta cualquier contenido que exceda las dimensiones */
}

.imagen-lateral p {
  text-align: center;
}

/* Media Query para Pantallas Pequeñas */
/* Ajustes de formulario en pantallas pequeñas */
@media (max-width: 768px) {
  .formulario-imagen {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 20px; /* Agrega margen igual a los lados */
    min-height: auto;
  }

  .formulario {
    width: 100%;
    max-width: 400px; /* Ancho máximo para centrar */
    padding: 20px;
    box-sizing: border-box; /* Incluye el padding dentro del ancho */
  }

  /* Ajusta las imágenes y oculta si es necesario */
  .imagen-lateral {
    display: none;
  }
}

/* Otros ajustes para pantallas aún más pequeñas (hasta 576px de ancho) */
@media (max-width: 576px) {
  .formulario {
    width: 100%; /* Ocupar todo el ancho disponible */
    padding: 15px;
  }

  .btn-iniciar, .btn-registrar {
    padding: 10px;
    font-size: 14px;
  }
}

/* Links de la parte inferior */
.links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.links a {
  color: #008cba;
  text-decoration: none;
  font-size: 14px;
}

.links a:hover {
  text-decoration: underline;
}

.btn-registrarse {
  background-color: #ff8800;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 6px 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.nav-enlaces {
  display: flex;
  align-items: center;
  gap: 5px;
}
