/* Estilo general del contenedor */
.contenedor-inicio-sesion {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
  }
  
  /* Formulario e Imagen */
  .formulario-imagen {
    display: flex;
    flex: 1;
    height: calc(100vh - 100px); /* Resta espacio del header y footer */
  }
  
  .formulario {
    width: 40%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    gap: 20px;
  }
  
  .formulario h2 {
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
  }
  
  .formulario input {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
  }
  
  .btn-recuperar {
    background-color: #ff8800;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .btn-recuperar:hover {
    background-color: #e06f00;
  }
  
  .imagen-lateral {
    width: 60%; 
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    color: #666;
  }
  
  /* Footer */
  .footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px 0;
  }
  
  .logo-footer {
    height: 40px;
    margin-bottom: 10px;
  }
  
  .linea-separacion {
    width: 80%;
    margin: 10px auto;
    border-top: 1px solid white;
  }
  
  .redes-sociales {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
  }
  
  .footer-secciones {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
  }
  
  .footer-secciones ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-secciones a {
    color: white;
    text-decoration: none;
  }
  
  .footer-secciones a:hover {
    text-decoration: underline;
  }
  